services:
  doktarplanning.api:
    build:
      context: .
      dockerfile: DoktarPlanning.Api/Dockerfile
      target: build
    image: ${DOCKER_REGISTRY-}doktarplanningapi
    container_name: doktarplanning-api
    depends_on:
      sqlserver:
        condition: service_healthy
      redis:
        condition: service_started
      mailhog:
        condition: service_started
      seq:
        condition: service_started
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=DoktarPlanning;User Id=sa;Password=Your_strong!Passw0rd;TrustServerCertificate=true;Connection Timeout=30;
      - Redis__Configuration=redis:6379
      - Jwt__Key=ThisIsAVerySecretKeyForJWTSigningThatShouldBeLongerThan32Characters
      - Smtp__Host=mailhog
      - Smtp__Port=1025
      - Smtp__From=noreply@local
      - Hangfire__UseHangfire=true
      - Hangfire__Storage=Server=sqlserver,1433;Database=DoktarPlanning;User Id=sa;Password=Your_strong!Passw0rd;TrustServerCertificate=true;
    ports:
      - "5000:5000"
      - "5001:5001"
    volumes:
      - ./https:/https
      - ./DoktarPlanning.Api:/src:rw
    networks:
      - doknet
    restart: unless-stopped

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: doktarplanning-sqlserver
    environment:
      SA_PASSWORD: "Your_strong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD", "echo", "1"]
    volumes:
      - sqlserver_data:/var/opt/mssql
    networks:
      - doknet
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: doktarplanning-redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    networks:
      - doknet
    restart: unless-stopped

  mailhog:
    image: mailhog/mailhog
    container_name: doktarplanning-mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - doknet
    restart: unless-stopped

  seq:
    image: datalust/seq:latest
    container_name: doktarplanning-seq
    environment:
      ACCEPT_EULA: "Y"
      SEQ_FIRSTRUN_ADMINPASSWORD: "YourStrongAdminPassword123!"
    ports:
      - "5341:80"
    volumes:
      - seq_data:/data
    networks:
      - doknet
    restart: unless-stopped

volumes:
  sqlserver_data:
  redis_data:
  seq_data:

networks:
  doknet:
    driver: bridge
